<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 配置连接数据库的基本信息 -->
        <!--<property name="connection.username">root</property>-->
        <!--<property name="connection.password">Qcj330616153!</property>-->
        <property name="connection.username">root</property>
        <property name="connection.password">Qcj330616153!</property>
        <!--mysql驱动-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/freeride</property>

        <!-- 配置 Hibernate 的基本信息 -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <!-- 指定自动生成数据表的策略 -->
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.hdu.freeride.entity.Right"/>
        <mapping class="com.hdu.freeride.entity.Role"/>
        <mapping class="com.hdu.freeride.entity.RoleRightRelation"/>
        <mapping class="com.hdu.freeride.entity.Stroke"/>
        <mapping class="com.hdu.freeride.entity.TransactionDetails"/>
        <mapping class="com.hdu.freeride.entity.User"/>
        <mapping class="com.hdu.freeride.entity.UserRoleRelation"/>
        <mapping class="com.hdu.freeride.entity.UserRoleStrokeRelation"/>
    </session-factory>
</hibernate-configuration>